.header {
  display: flex;
  padding-bottom: 20px;
}
.state {
  width: 150px;
  padding-right: 20px;
  height: 40px;
}
.state__label {
  padding: 20px;
}
.header__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__date {
  margin-top: -10px;
}
.export__btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
