.statistics  {
  margin: 20px;
}
.card {
  padding: 10px;
  cursor: pointer;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.fab__title  {
  padding: 30px;
}
